@import "../components/ChatComponent/Chat.css";
@import "../components/ProfileComponent/profile.css";
@import "../components/QuickActions/QuickActionBar.css";
@import "../components/UserListComponent/UserList.css";
@import "../components/MessageInputForm/NewMessageForm.css";
@import "../components/ItemViewerComponent/ItemViewerBar.css";

.App {
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  height: 100vh; /* fill viewport height */
  width: 100%;
  margin: 0 auto;
}